<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <main>
        <section id="movielist">
            <h2> <%= movieData.title %> </h2>
            <img src="https://image.tmdb.org/t/p/w500/<%= movieData.poster_path %>" alt="Movie poster of <%= movieData.original_title %>.">
        </section>

        <ul class="movie-list">
            <% movieData.results.forEach(result => { %>
                <li>
                    <a href="/movies/<%= result.id %>" class="movie-poster body-petite">
                        <%= result.original_title %>
                        <img src="https://image.tmdb.org/t/p/w500/<%= result.poster_path %>" alt="Movie poster of <%= result.original_title %>." class="movie-poster__image">
                    </a>
                </li>
            <% }) %>
        </ul>

        <section id="canvasSection">
            <div id="canvasContainer">
                <canvas id="canvas" height="400" width="400"></canvas>
            </div>
        </section>

        <section id="chatSection">
            <form id="usernameForm" action="">
                <input id="usernameInput" autocomplete="off" type="text" placeholder="What is your name?"/>
                <button type="submit">Send</button>
            </form>
        
            <ul id="messages"></ul>

            <form action="" id="messageForm">
                <input id="m" autocomplete="off" type="text" placeholder="What is on your mind?"/> 
                <button type="submit">Send</button>
            </form>
        </section>
    </main>
    <script src="/js/socket.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>